<!--include header  -->
<%- include('_header')%>
<!-- include header -->

<!--Main Site-->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex-justify-between">
            <div class="filter">
                <a href="/"><i class="fas fa-arrow-left"></i> <i class=" fas fa-arrow-left fa-users"></i></a>
            </div>
        </div>
        <div class="form-title text-center">
            <a>
                <h2 class="text-dark">NEW STUDENT </h2><br>
                <span class="text-light">Use the below form to create a new account</span>
            </a>
        </div>

        <!-- form handling -->
        <!--include footer  -->
        <%- include('_form')%>
        <!-- include footer -->

        <!-- form handling -->
    </div>

</main>
<!--Main Site-->



<!--include footer  -->
<%- include('_footer')%>
<!-- include footer -->